{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-10 offset-1">
                <!--for each post-->
               {% for post in post_list %}
                <div class="accordion post" id="post-{{ post.id }}">
                    <div id="headingThree">
                        <div class="row flex-wrap-reverse">
                            <div class="col-md-2 col-xs-6 center-flex">
                                <button class="btn btn-link collapsed big-btn" type="button" data-toggle="collapse" data-target="#collapse-{{ post.id }}" aria-expanded="false" aria-controls="collapseThree">
                                    <i class="fas fa-plus-circle"></i>
                                </button>
                            </div>
                            <div class="col-md-10 col-xs-6 ">
                                <div class="post-preview">
                                    <h3>{{ post.op_title }}</h3>
                                    <p>{{ post.text_primary}}
                                    </p>
                                </div>
                                <div id="collapse-{{ post.id }}" class="collapse" aria-labelledby="headingThree" data-parent="#post-{{ post.id }}">
                                    <p>{{ post.text_secondary }}
                                    </p>

                                    <div class="row">
                                        <div class="col-2">
                                            <i class="fas fa-user float-left mr-3 writer-icon"></i>
                                        </div>
                                        <div class="col-10">
                                            <p>Ecrit {{ post.post_date }} par <b>{{ post.post_author }}</b></p>
                                            <p>En réaction à : <a href="{{ post.source_url }}">{{ post.source_url }}</a></p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <!--for each tag-->
                                        {% for tag in post.tag_list %}
                                            <button type="button" class="btn btn-outline-warning ml-1">{{ tag }}</button>
                                        {% endfor %}
                                        <!--end for each tag-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
               {% endfor %}
                <!--end for each post-->
            </div>
        </div>
    </div>
{% endblock %}
